@font-face {
    font-family: "jaapokki";
    src: url('../images/jaapokki.ttf');
}

@font-face {
    font-family: "ikaros";
    src: url('../images/Ikaros.otf');
}

@font-face {
    font-family: "quick";
    src: url('../images/Quick.ttf');
}

body {
    background-image: url("../images/background2.jpg");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #020202;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: "quick";
}

h1 {
    font-family: "jaapokki";
    letter-spacing: 6px;  
    margin: 20px;
    font-size: 80px;
    text-align: center;
}

.ephitet {
    letter-spacing: 4px;
}

.logo {
    width: 15%;
    position: center;
}
ul {
    padding-inline-start: 0px;
}

.aboutMeClick:hover,
.githubClick:hover,
.resumeClick:hover,
.contactClick:hover {
    color: rgb(255, 93, 93);
    transition: 0.2s ease all; 
}

li:before {
    content: " | ";
    color: white;
}

li:first-child:before {
    content: none;
}

.list ul li{
    text-align: center;
    list-style: none;
    display: inline;
    letter-spacing: 3px;
}

.list {
    margin: 20px;
}

.arrow {
    font-size: 25px;
}

.landingWrap {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.dropdown-toggle {
    color: white;
    width: 100%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); 
    z-index: 2;
}

.hide {
    display: none;
}